# Use NumPy 2.x to match your local machine
numpy>=2.0.0
pandas>=2.2.2
scikit-learn==1.4.2
matplotlib>=3.8.0

# AI Engine
torch==2.2.1
torchvision==0.17.1
shap==0.45.1

# System Fixes
protobuf==3.20.3
streamlit==1.32.2
geopy
requests
altair